/*------------Header-------------------*/
.container{
    width: 80%;
    margin: 0 auto;

}

header{
    background: #55d6aa;
    padding-bottom: 5px;

}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    width: 150px;
    height: 42px;
    padding: 10px 0;
}
header nav{
    float: right;
}

header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header nav li{
    display: inline-block;
    margin-left: 70px;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative;
}

header nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

.clock{
    padding: 60%;
    background: rgba(0,0,0,0.5);;
    color:white;
    font-weight: bold;
}
p li{
display: block;
padding: 0;
}




/*table{
    background-color: black;
    border: 1px solid #55d6aa;
    border-collapse: collapse;
    padding-left: 40px;
    padding-bottom: 10px;
}

th, td {
    color:white;
    text-align: left;
    background-color: black;
    border: 1px solid #55d6aa;
    border-collapse: collapse;
    padding-left: 20px;
    padding-right: 20px;
}


*/
/*---------------Footer--------------------------*/

footer{
    width: 100%;
    background-color: #222;
    padding: 20px 0;

}

footer nav{
    float: left;
}

footer nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
footer nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 10px;
    position: relative;
}

footer nav a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

footer nav a:hover{
    color: whitesmoke;
}








body{
    margin: 0;
    background: whitesmoke;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
}